 /* Seccion de Galeria*/

 .cajafondoG
 {
     position: absolute;
     background:#444444;
     width: 60%;
     height: 2000px;
     top:400px;
     left:20%;
 } 

 .gf1
 {
     position: relative;
     background:#df0ca0;
     width: 200px;
     height: 200px;
     margin: 5%;
     top:50px;
 } 

 .gf2
 {
     position: relative;
     background:#df0ca0;
     width: 200px;
     height: 200px;
     margin: 5%;
     top:50px;
 } 

 .gf3
 {
     position: relative;
     background:#df0ca0;
     width: 200px;
     height: 200px;
     margin: 5%;
     top:50px;
 } 

 .gf4
 {
     position: relative;
     background:#df0ca0;
     width: 200px;
     height: 200px;
     margin: 5%;
     top:50px;
 } 

 .gf5
 {
     position: relative;
     background:#df0ca0;
     width: 200px;
     height: 200px;
     margin: 5%;
     top:50px;
 } 

 .gf6
 {
     position: relative;
     background:#df0ca0;
     width: 200px;
     height: 200px;
     margin: 5%;
     top:50px;
 } 

 .gf7
 {
     position: relative;
     background:#df0ca0;
     width: 200px;
     height: 200px;
     margin: 5%;
     top:50px;
 } 

 .gf8
 {
     position: relative;
     background:#df0ca0;
     width: 200px;
     height: 200px;
     margin: 5%;
     top:50px;
 } 

 .gf9
 {
     position: relative;
     background:#df0ca0;
     width: 200px;
     height: 200px;
     margin: 5%;
     top:50px;
 } 