/* index*/
.fotos 
/* son 800px: 300 el heades + 500 del carrucel*/
{
    background: #444444;
    position: absolute;
    height: 500px;
    width: 100%;
    top: 300px;
}

.cuerpo
{
    position: absolute;
    background:#DEDED0;
    top:900px;
    height:1500px;
    width: 60%;
    left:20%;
}

.text1
{
    position: relative;
    background:#fd0202;
    width: 90%;
    height: 200px;
    margin: 5%;
    top:10px;
}

.F1
{
    position: relative;
    width: 90%;
    height: 200px;
    margin: 5%;
    top:10px;
}

.text2
{
    position: relative;
    background:#0213fd;
    width: 90%;
    height: 200px;
    margin: 5%;
    top:10px;
}
.F2
{
    position: relative;
    width: 90%;
    height: 200px;
    margin: 5%;
    top:10px;
}