/* Visual de Quienes Somos*/
.cajafondoQS
    {
        position: absolute;
        background:#444444;
        width: 60%;
        height: 2000px;
        top:400px;
        left:20%;
    } 

    .qs1
    {
        position: relative;
        background:#00a2ff;
        width: 90%;
        height: 400px;
        margin: 5%;
        top:50px
    } 

    .qs2
    {
        position: relative;
        background:#7cff02;
        width: 90%;
        height: 400px;
        margin: 5%;
        top:50px
    } 

    .qs3
    {
        position: relative;
        background:#fc8600;
        width: 90%;
        height: 400px;
        margin: 5%;
        top:50px
    } 

    .qs4
    {
        position: relative;
        background:#df0ca0;
        width: 90%;
        height: 400px;
        margin: 5%;
        top:50px;
    } 