/* .basico
{
    position: relative;
    background:#444444;
    width: 60%;
    height: 200px;
    margin: 0px;
    padding: 0;
    border:0;
    top:0;
} */

body
{
 background: #444444;;
}

.cabezera
{
    position: relative;
    background:#444444;
    height: 300px;
    width: 100%;
    padding: 10px;
    
}

.logo
{
    position: absolute;
    background:#fd03f1;
    height: 80%;
    width:10%;  
    top:20px;
    border: 10px;
    left:5%;
}
.menu
{
    position: absolute;
    background:#fd03f1;
    height: 80%;
    width:25%;  
    top:20px;
    left: 30%;
}

.login
{
    position: absolute;
    background:#fd03f1;
    height: 80%;
    width:20%;  
    top:20px;
    border: 10px;
    left: 60%;
}

.pie
{
    position: absolute;
    height: 200px;
    width: 100%;   
    background:#444444;
    top: 2500px;
}
