/* .basico
{
    position: relative;
    background:#444444;
    width: 60%;
    height: 200px;
    margin: 0px;
    padding: 0;
    border:0;
    top:0;
} */

body
{
 background: #444444;;
}

.cabezera
{
    position: absolute;
    background:#444444;
    height: 300px;
    width: 100%;
}

.menu
{
    position: absolute;
    background:#444444;
    height: 100px;
    width:50%;  
    top:100px;
    padding: 30px;
    left:30%;
}

.fotos
{
    background: #444444;
    position: absolute;
    height: 500px;
    width: 100%;
    top: 400px;
}

.cuerpo
{
    position: absolute;
    background:#DEDED0;
    top:900px;
    height:1000px;
    width: 1300px;
    left:300px;
}

.c1cuerpo
{
    position: relative;
    height:500px;
    width: 1300px;
    padding:20px; 
} 

.F
{
    position: absolute;
    height: 400px;
    width: 400px;
    margin:20px;
    left:50px;
} 

.text1
{
    position: absolute;
    height: 400px;
    width: 700px;
    left: 500px;
    background:#DEDED0;
    margin:20px;
}

.c2cuerpo
{
    position: relative;
    height:500px;
    width: 1300px;
    padding:20px; 
} 

.S
{
    position: absolute;
    height: 400px;
    width: 400px;
    margin:20px;
    left:50px;
}

.text2
{
    position: absolute;
    height: 400px;
    width: 700px;
    left: 500px;
    background:#DEDED0;
    margin:20px;
}

.pie
{
    position: absolute;
    height: 200px;
    width: 100%;   
    background:#444444;
    top: 2500px;
}

